body {
    background-color: rgb(234, 234, 234);
}

nav {
    position: relative;
}

#navbar-top {
    display: flex;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 10px 10px;
    background-color: white;
}

@media (max-width:350px) {
    #navbar-top {
        margin: 1px 0px;
    }

}


/* nav-bar part01 */
#navbar-top .part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-1 a {
    text-decoration: none;
    font-size: large;

}

#navbar-top .part-1 #logo a {
    color: rgb(86, 16, 152) !important;
}



#navbar-top .part-1 #about-pets a {
    color: black !important;
}

@media (max-width:822px) {
    #navbar-top .part-1 #about-pets a {
        display: none;
    }
}

/* navbarpart-2 */

#navbar-top .part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-2 a #heart {
    color: black;
}

#navbar-top .part-2 a #heart:hover {
    color: red;
}

#navbar-top .part-2 button {
    background-color: rgb(86, 16, 152);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}

#navbar-top .part-2 button a {
    color: white !important;
    text-decoration: none;
}

#navbar-top .part-2 #nav-icon {
    display: none;
}

#navbar-top .part-2 #nav-icon:hover {
    cursor: pointer;
}

@media (max-width:882px) {
    #navbar-top .part-2 a #heart {
        display: none;
    }

}

@media (max-width:822px) {
    #navbar-top .part-2 button {
        border-radius: 50%;
    }

    #navbar-top .part-2 button span a {
        display: none;
        text-align: center;
    }

    #navbar-top .part-2 #nav-icon {
        display: flex;
    }
}

@media (max-width:250px) {
    #navbar-top .part-2 button {
        display: none;
    }

}

/* navbar-bottom */


#navbar-bottom {
    /* display: none; */
    position: absolute;
    top: 100%;
    z-index: 100;
    opacity: 0;
    /* display: none; */
    width: 100%;
    background-color: rgb(86, 16, 152);
    padding: 20px 0;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

#navbar-bottom .nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 2px 20px;
    padding: 2px 30px;
}

#navbar-bottom .nav-items li a {
    font-size: large;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
}

#navbar-bottom .nav-items li a:hover {
    color: rgb(158, 104, 183);
    text-decoration: underline;

}

.nav-item {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 250px;
    display: none;
    background-color: rgb(77, 7, 143);
    /* z-index: 1000; */
    height: fit-content;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
    text-align: left;
}

/* .nav-item:hover .dropdown {
    display: block;
} */

@media (max-width:822px) {
    #navbar-bottom {
        display: none !important;
    }

}

@media (min-width:1500px) {
    #navbar-bottom .nav-items {
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 2px 20px;
        padding: 2px 30px;
        gap: 50px;
    }

}

/* side baar */
#side-navbar {
    width: auto;
    position: absolute;
    min-height: 100%;
    background-color: rgb(86, 16, 152);
    border-radius: 0 5% 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5 ease;
}

#side-navbar .side-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    gap: 50px;
    margin-top: 50px;
}

#side-navbar .side-nav-item li a {
    font-size: small;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
}

#side-navbar .side-nav-item li .nav-sub-item {
    display: none;
    font-weight: 300;
    font-size: 15px;
}

#side-navbar .side-nav-item li a:hover {
    color: rgb(158, 104, 183);
    text-decoration: underline;
}

#side-navbar .side-nav-item li {
    list-style: none;
}

@media (min-width:822px) {
    #side-navbar {
        display: none !important;
    }
}

.working_page {
    pointer-events: none;
    color: dimgrey !important;
    text-decoration: none;
}

.link {
    display: inline;
    color: rgb(86, 16, 152);
    font-size: large;
    cursor: pointer;
}



/* main section */


main {
    position: relative;
    ;
}


main .petfinder {
    display: flex;
    margin: 50px 30px;
    gap: 30px;
}

main .petfinder .info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

main .petfinder .info .text {
    background-color: white;
    padding: 20px;
    line-height: 45px;
    text-align: justify;
    box-shadow: 1px 1px 1px rgb(199, 195, 195);
}

main .petfinder .info .about-pet-adoption {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

main .petfinder .info .about-pet-adoption>a {
    color: rgb(52, 45, 45);
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;

}

main .petfinder .info .about-pet-adoption>a>span {
    color: rgb(86, 16, 152);
}

main .petfinder .info .about-pet-adoption a:hover {
    text-decoration: underline;
}

main .petfinder .info .about-pet-adoption-cards {
    /* margin-top: 50px; */
    display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
}

main .petfinder .info .about-pet-adoption-cards .cards {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    margin-top: 20px;
    height: 400px;
}

main .petfinder .info .about-pet-adoption-cards .cards:hover {
    cursor: pointer;
    border: 2px solid rgb(86, 16, 152);
}

main .petfinder .info .about-pet-adoption-cards .cards img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 192px;
}

main .petfinder .info .about-pet-adoption-cards .cards a {
    text-decoration: none;
    color: rgb(127, 123, 123);
    padding: 2px 10px;
    font-weight: 600;
    font-size: 16px;

}

main .petfinder .info .about-pet-adoption-cards .cards p {
    color: rgb(86, 16, 152);
    font-weight: 600;
    font-style: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 2px 10px;
}

main .petfinder .aside {
    display: flex;
    flex-direction: column;
    gap: 250px;
}

main .petfinder .aside .part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .petfinder .aside .part-1 div {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
}

main .petfinder .aside .part-1 h2 {
    color: rgb(86, 16, 152);
    font-weight: 500;
    font-size: 40px;
}

main .petfinder .aside .part-1 p {
    color: gray;
    font-weight: 600;
    font-size: 20px;
}

main .petfinder .aside .part-1 button {
    padding: 10px;
    font-style: bold;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(86, 16, 152);
    color: white;
    border: none;
}

main .petfinder .aside .part-1 button:hover {
    background-color: black;
}

main .petfinder .aside .part-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

main .petfinder .aside .part-2 p {
    font-size: 25px;
    color: rgb(39, 37, 37);
}

main .petfinder .aside .part-2 input {
    padding: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
}

main .petfinder .aside .part-2 input:hover {
    border: 2px solid rgb(86, 16, 152);
    border-radius: 10px;
}

main .petfinder .aside .part-2 button {
    padding: 10px;
    font-style: bold;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(86, 16, 152);
    color: white;
    border: none;
}

main .petfinder .aside .part-2 button:hover {
    background-color: black;
}

@media (max-width: 1024px) {
    main .petfinder {
        display: flex;
        margin: 50px 1px;
        flex-direction: column;
    }

    main .petfinder .info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 767px) {
    main .petfinder .info .about-pet-adoption a {
        font-size: 18px;

    }

    main .petfinder .info .about-pet-adoption-cards {
        /* margin-top: 50px; */
        /* gap: 20px; */
        display: flex;
        flex-direction: column;
    }

    main .petfinder .info .about-pet-adoption-cards .cards {
        width: 100%;
        background-color: white;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        margin-top: 20px;
        height: fit-content;
    }

    main .petfinder .info .about-pet-adoption-cards .cards img {
        width: 30%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
    }

    main .petfinder .info .about-pet-adoption-cards .cards div {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
        justify-content: start;
        align-items: start;
    }


    main .petfinder .info .about-pet-adoption .cards p {
        color: rgb(86, 16, 152);
        font-weight: 400;
        font-style: bold;
        font-size: 20px;
        line-height: 20px;
        padding: 0px 10px;
        text-align: justify;
    }


}

@media (max-width:500px) {
    main .petfinder .aside .part-1 div {
        width: 100%;
    }

}

@media (max-width:350px) {

    main .petfinder .info .about-pet-adoption .cards p,
    main .petfinder .info .about-pet-adoption .cards>div>a {
        max-width: 100px;
        text-overflow: ellipsis;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    main .petfinder .info .about-pet-adoption-cards .cards img {
        width: 40%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100px;
    }




}


#section-2 {
    /* background-color: rgb(233, 230, 230); */
    background-color: transparent;
    padding-top: 200px;
    /* position: relative; */
    /* z-index: -10; */
}

#section-2 .pets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section-2 .pets p {
    color: rgb(86, 16, 152);
    font-size: 40px;
    font-style: bold;
    font-weight: 400;
}

#section-2 .pets #pets-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns for large screens */
    gap: 30px;
    margin-bottom: 150px;

}

@media (max-width: 992px) {
    #section-2 .pets #pets-option {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
    }
}

@media (max-width: 650px) {
    #section-2 .pets #pets-option {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;

    }
}




#section-2 .pets #pets-option .pets-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    background-color: white;
}

#section-2 .pets #pets-option .pets-names div {
    position: relative;

}

#section-2 .pets #pets-option .pets-names div span {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.404);
}

#section-2 .pets #pets-option .pets-names div span:hover {
    background-color: rgba(255, 255, 255, 0.612);

}

#section-2 .pets #pets-option .pets-names div span a i {
    font-size: 25px;
    color: red;
}

#section-2 .pets #pets-option .pets-names p {
    font-size: 20px;
    font-weight: 600;
}

#section-2 .pets #pets-option .pets-names img,
#section-2 .pets #pets-option .pets-names {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#section-2 .pets #pets-option .pets-names:hover {
    cursor: pointer;
}







/* footer */

footer .link {
    background-color: rgb(86, 16, 152);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    padding: 40px 20px;
    gap: 20px;
}

@media (max-width:992px) {
    footer .link {
        flex-direction: row;
        flex-wrap: wrap;
    }


}

footer .link .signup {
    background-color: white;
    color: rgb(86, 16, 152);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    gap: 20px;
}

footer .link .signup button {
    background-color: rgb(86, 16, 152);
    color: white;
    font-style: bold;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    padding: 10px 35px;
    border: none;
    text-align: center;
    transition: all 0.2s ease;
}

footer .link .signup button:hover {
    background-color: rgb(231, 184, 241);
    color: rgb(57, 11, 100);
}

footer .link ul {
    list-style: none;
}



footer .link ul p {
    color: white;
    font-style: bold;
    font-weight: 800;
    /* font-size: 15px; */
}

footer .link ul li a {
    text-decoration: none;
    color: white;
    font-style: bold;

}

footer .link ul li a:hover {
    text-decoration: underline;
    color: rgb(157, 111, 200);
}

footer .footer-end {
    background-color: rgb(46, 9, 80);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

footer .footer-end .copy span,
footer .footer-end .copy span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
}

footer .footer-end .social {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer .footer-end .social span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
}

.heading {
    margin: 40px;
}