#header-top {
    background: rgb(228, 227, 227);
}

#header-top a {
    color: rgb(86, 16, 152)
}



/* #navbar .navbar-nav #heart i:hover {
    color: red;

}

#navbar .navbar-nav #signin-button .btn {
    color: white !important;
    background-color: rgb(86, 16, 152);
    font-style: bold !important;
    font-weight: 600;
    font-size: 15px;
}

.dropdown-menu {
    width: 100vw;
    left: 0;
    right: 0;
}

.dropdown-menu {
    text-align: center;
}

.dropdown-menu a.dropdown-item {
    white-space: nowrap;
    color: white !important;

}

.dropdown-menu a.dropdown-item:hover {
    color: rgb(136, 94, 155) !important;
    background-color: transparent;
    text-decoration: underline;
}

#navbar .dropdown .dropdown-menu {
    background-color: rgb(86, 16, 152) !important;
}

.navbar-brand {
    color: rgb(86, 16, 152) !important;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: center;
} */





#navbar-top {
    display: flex;
    justify-content: space-between;
    margin: 1px 30px;
}

@media (max-width:350px) {
    #navbar-top {
        margin: 1px 0px;

    }

}


/* nav-bar part01 */
#navbar-top .part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-1 a {
    text-decoration: none;
    font-size: large;

}

#navbar-top .part-1 #logo a {
    color: rgb(86, 16, 152) !important;
}



#navbar-top .part-1 #about-pets a {
    color: black !important;
}

@media (max-width:822px) {
    #navbar-top .part-1 #about-pets a {
        display: none;
    }
}

/* navbarpart-2 */

#navbar-top .part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-2 a #heart {
    color: black;
}

#navbar-top .part-2 a #heart:hover {
    color: red;
}

#navbar-top .part-2 button {
    background-color: rgb(86, 16, 152);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}

#navbar-top .part-2 button a {
    color: white !important;
    text-decoration: none;
}

#navbar-top .part-2 #nav-icon {
    display: none;
}

#navbar-top .part-2 #nav-icon:hover {
    cursor: pointer;
}

@media (max-width:882px) {
    #navbar-top .part-2 a #heart {
        display: none;
    }

}

@media (max-width:822px) {
    #navbar-top .part-2 button {
        border-radius: 50%;
    }

    #navbar-top .part-2 button span a {
        display: none;
        text-align: center;
    }

    #navbar-top .part-2 #nav-icon {
        display: flex;
    }
}

@media (max-width:250px) {
    #navbar-top .part-2 button {
        display: none;
    }

}

/* navbar-bottom */

nav {
    position: relative;
}

#navbar-bottom {
    /* display: none; */
    position: absolute;
    top: 100%;
    z-index: 100;
    opacity: 1;
    /* display: none; */
    width: 100%;
    background-color: rgb(86, 16, 152);
    padding: 20px 0;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

#navbar-bottom .nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 2px 20px;
    padding: 2px 30px;
}

#navbar-bottom .nav-items li a {
    font-size: large;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
}

#navbar-bottom .nav-items li a:hover {
    color: rgb(158, 104, 183);
    text-decoration: underline;

}

.nav-item {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 250px;
    display: none;
    background-color: rgb(77, 7, 143);
    /* z-index: 1000; */
    height: fit-content;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
    text-align: left;
}

/* .nav-item:hover .dropdown {
    display: block;
} */

@media (max-width:822px) {
    #navbar-bottom {
        display: none !important;
    }

}

@media (min-width:1500px) {
    #navbar-bottom .nav-items {
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 2px 20px;
        padding: 2px 30px;
        gap: 50px;
    }

}

/* togglebale  side navbar */

#side-navbar {
    width: auto;
    position: absolute;
    min-height: 100%;
    background-color: rgb(86, 16, 152);
    border-radius: 0 5% 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5 ease;
}

#side-navbar .side-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    gap: 50px;
    margin-top: 50px;
}

#side-navbar .side-nav-item li a {
    font-size: small;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
}

#side-navbar .side-nav-item li .nav-sub-item {
    display: none;
    font-weight: 300;
    font-size: 15px;
}

#side-navbar .side-nav-item li a:hover {
    color: rgb(158, 104, 183);
    text-decoration: underline;
}

#side-navbar .side-nav-item li {
    list-style: none;
}

@media (min-width:822px) {
    #side-navbar {
        display: none !important;
    }
}


/* section -1 css */
/* todo set the overflow property */
#section-1 {
    width: 100%;
    position: relative;
    margin-top: 50px;
}


#section-1 .hero {
    /* background-image: url(./assest/hero-2.webp); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 10px solid rgb(86, 16, 152);

    position: relative;
    /* top: 0;
    left: 0; */
    transition: opacity 1s ease-in-out;
    /* background: transparent; */
    /* z-index: -5; */


}

.caorusel-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    z-index: -10;



}



#section-1 .hero .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
}

#section-1 .hero .search #search-bar {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
}

#section-1 .hero .search:hover {
    border: 2px solid rgb(86, 16, 152);
}

#section-1 .hero .search .search-icon {
    background-color: rgb(86, 16, 152);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

#section-1 .hero .search .search-icon:hover {
    background-color: rgb(54, 9, 96);
}

@media (max-width: 350px) {
    #section-1 .hero .search {
        width: 100%;
        padding: 5px;
        gap: 10px;
        overflow-x: auto !important;
        scrollbar-width: none;

        ;
    }
}

#section-1 .hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;
    margin-bottom: 100px;
}

#section-1 .hero .text h1 {
    text-align: center;
    font: bold;
    font-weight: 800;
}

#section-1 .hero .text h5 {
    text-align: center;
    font: bold;
    font-weight: 900;
    font-size: 30px;
    align-self: center;
}

#section-1 .hero .animal-option {
    display: flex;
    position: absolute;
    bottom: -80px;
    gap: 30px;
}

#section-1 .hero .animal-option .options {
    background: rgb(247, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    padding: 25px 40px;
    box-shadow: 0px 10px gray;
}

#section-1 .hero .animal-option .options:hover {
    border: 2px solid rgb(86, 16, 152);
    background-color: rgb(241, 238, 238);
    cursor: pointer;
}

#section-1 .hero .animal-option .options span {
    color: rgb(86, 16, 152);
}

#section-1 .hero .animal-option .options p a {
    color: black;
    font-style: bold;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:400px) {
    #section-1 .hero .animal-option {
        width: 100%;
        gap: 10px;
        padding: 10px 20px;
        overflow-x: auto;
        scrollbar-width: none;
    }

}

/* section-2css */

#section-2 {
    /* background-color: rgb(233, 230, 230); */
    background-color: transparent;
    padding-top: 200px;
    /* position: relative; */
    /* z-index: -10; */
}

#section-2 .pets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#section-2 .pets p {
    color: rgb(86, 16, 152);
    font-size: 40px;
    font-style: bold;
    font-weight: 400;
}

#section-2 .pets #pets-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns for large screens */
    gap: 30px;
    margin-bottom: 150px;

}

@media (max-width: 992px) {
    #section-2 .pets #pets-option {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
    }
}

@media (max-width: 650px) {
    #section-2 .pets #pets-option {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;

    }
}


#section-2 .pets #pets-option .pets-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    background-color: white;
}

#section-2 .pets #pets-option .pets-names div {
    position: relative;

}

#section-2 .pets #pets-option .pets-names div span {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.404);
}

#section-2 .pets #pets-option .pets-names div span:hover {
    background-color: rgba(255, 255, 255, 0.612);

}

#section-2 .pets #pets-option .pets-names div span a i {
    font-size: 25px;
    color: red;
}

#section-2 .pets #pets-option .pets-names p {
    font-size: 20px;
    font-weight: 600;
}

#section-2 .pets #pets-option .pets-names img,
#section-2 .pets #pets-option .pets-names {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#section-2 .pets #pets-option .pets-names:hover {
    cursor: pointer;
}

/* informative section */

#section-3 {
    background: white;
    margin-top: 50px;
}

#section-3 .informative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-3 .informative p {
    color: rgb(107, 105, 105);
    font-size: 50px;
    font-weight: 400;
    font-style: bold;
    text-align: center;
}

#section-3 .informative .cards {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#section-3 .informative .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    gap: 20px;
    height: 50vh;
    width: 30%;

}

#section-3 .informative .cards .card a {
    text-decoration: none;
    color: rgb(86, 16, 152);
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

#section-3 .informative .cards .card p {
    font-size: 20px;
    text-align: center;
    font-style: bold;
}

#section-3 .informative .cards .card button {
    color: rgb(86, 16, 152);
    border: 2px solid rgb(86, 16, 152);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

#section-3 .informative .cards .card:hover button {
    color: white;
    background-color: rgb(86, 16, 152);
}

@media (max-width: 768px) {
    #section-3 .informative .cards {
        flex-direction: column;
    }

    #section-3 .informative .cards .card {
        width: 80%;
    }

}

@media (max-width: 280px) {
    #section-3 .informative .cards .card {
        height: fit-content;
    }

    #section-3 .informative .cards .card button {
        padding: 5px;
    }

    #section-3 .informative p {
        font-size: 15px;
    }

    #section-3 .informative .cards .card p {
        font-size: 10px;
        text-align: center;
        font-style: bold;
    }

}

/* footer */

footer .link {
    background-color: rgb(86, 16, 152);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    padding: 30px 10px;
    gap: 20px;
}

@media (max-width:992px) {
    footer .link {
        flex-direction: row;
        flex-wrap: wrap;
    }


}

footer .link .signup {
    background-color: white;
    color: rgb(86, 16, 152);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
}

footer .link .signup button {
    background-color: rgb(86, 16, 152);
    color: white;
    font-style: bold;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    padding: 10px 35px;
    border: none;
    text-align: center;
    transition: all 0.2s ease;
}

footer .link .signup button:hover {
    background-color: rgb(231, 184, 241);
    color: rgb(57, 11, 100);
}

footer .link ul {
    list-style: none;
}

footer .link ul p {
    color: white;
    font-style: bold;
    font-weight: 800;
    /* font-size: 15px; */
}

footer .link ul li a {
    text-decoration: none;
    color: white;
    font-style: bold;
}

footer .link ul li a:hover {
    text-decoration: underline;
    color: rgb(157, 111, 200);
}

footer .footer-end {
    background-color: rgb(46, 9, 80);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

footer .footer-end .copy span,
footer .footer-end .copy span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
}

footer .footer-end .social {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer .footer-end .social span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-size: 15px;
}