.heading,
.card-heading {
    color: black;
    opacity: 0.7;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
}

.card-heading:hover {
    color: black;
    opacity: 0.7;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
}

.difftext {
    color: rgb(86, 16, 152);
    text-align: center;
}

.difftext:hover {
    color: black;
    text-align: center;
}

body {
    background-color: rgb(234, 234, 234);
}

#navbar-top {
    display: flex;
    justify-content: space-between;
    margin: 1px 30px;
    /* padding: 5px 10px; */
    background-color: white;
}

@media (max-width:350px) {
    #navbar-top {
        margin: 1px 0px;
    }

}


/* nav-bar part01 */
#navbar-top .part-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-1 a {
    text-decoration: none;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: large;

}

#navbar-top .part-1 #logo a {
    color: rgb(86, 16, 152) !important;
}



#navbar-top .part-1 #about-pets a {
    color: black !important;
}

@media (max-width:822px) {
    #navbar-top .part-1 #about-pets a {
        display: none;
    }
}

/* navbarpart-2 */

#navbar-top .part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar-top .part-2 a #heart {
    color: black;
}

#navbar-top .part-2 a #heart:hover {
    color: red;
}

#navbar-top .part-2 button {
    background-color: rgb(86, 16, 152);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}

#navbar-top .part-2 button a {
    color: white !important;
    text-decoration: none;
}

#navbar-top .part-2 #nav-icon {
    display: none;
}

@media (max-width:882px) {
    #navbar-top .part-2 a #heart {
        display: none;
    }

}

@media (max-width:822px) {
    #navbar-top .part-2 button {
        border-radius: 50%;
    }

    #navbar-top .part-2 button span a {
        display: none;
        text-align: center;
    }

    #navbar-top .part-2 #nav-icon {
        display: flex;
    }
}

@media (max-width:250px) {
    #navbar-top .part-2 button {
        display: none;
    }

}

/* navbar-bottom */


#navbar-bottom {
    /* display: none; */
    z-index: 100;
    /* opacity: 0; */
    width: 100%;
    background-color: rgb(86, 16, 152);
    padding: 20px 0;
    transform: translateY(0px);
    transition: all 0.3s ease;
}

#navbar-bottom .nav-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 2px 20px;
    padding: 2px 30px;
}

#navbar-bottom .nav-items li a {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: large;
    color: white;
    text-decoration: none;
    font-style: bold;
    font-weight: 500;
}

#navbar-bottom .nav-items li a:hover {
    color: rgb(158, 104, 183);
    text-decoration: underline;

}

.nav-item {
    position: relative;
}

.nav2 {
    display: block;
    margin-top: 15px;
    margin-left: 2cm;
}

.nav-2 {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 18px;
    list-style: none;
    display: flex;
}

.nav-2 li {
    display: inline;
}

.nav-2 a {
    text-decoration: none;
    color: rgb(86, 16, 152);
    text-decoration: underline;
}

@media (max-width:822px) {
    .nav2 {
        display: block;
        margin-top: 15px;
        margin-left: 0cm;
    }

    .nav-2 {
        font-family: Nexa Regular, arial, helvetica, sans-serif;
        font-size: 18px;
        list-style: none;
        display: block;
    }

    .nav-2 li {
        display: block;
        margin-left: 0px;
    }

    .nav-2 a {
        text-decoration: none;
        color: rgb(86, 16, 152);
        text-decoration: underline;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 250px;
    display: none;
    background-color: rgb(77, 7, 143);
    /* z-index: 1000; */
    height: fit-content;
    padding: 20px;
    list-style: none;
    border-radius: 10px;
    text-align: left;
}

/* .nav-item:hover .dropdown {
    display: block;
} */

@media (max-width:822px) {
    #navbar-bottom {
        display: none !important;
    }

}

@media (min-width:1500px) {
    #navbar-bottom .nav-items {
        display: flex;
        list-style: none;
        justify-content: center;
        margin: 2px 20px;
        padding: 2px 30px;
        gap: 50px;
    }

}

main {
    position: relative;
}


main .petfinder {
    display: flex;
    margin: 50px 120px;
    gap: 30px;
}

main .petfinder .info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

main .petfinder .info .text {
    background-color: white;
    padding: 20px;
    line-height: 45px;
    text-align: justify;
    box-shadow: 1px 1px 1px rgb(199, 195, 195);
}

main .petfinder .info .text .h1 {
    color: black;
    opacity: 0.7;
    float: left;
}

main .petfinder .info .text .p {
    float: left;
    color: black;
}

main .petfinder .info .cards {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(2);
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
}

main .petfinder .info .cards .card {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;
    height: 400px;
}

main .petfinder .info .cards .card:hover {
    cursor: pointer;
    border: 2px solid rgb(86, 16, 152);
}

main .petfinder .info .cards .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 192px;
}

main .petfinder .info .cards .card h2 {
    margin-left: 0.1in;
    color: black;
    opacity: 0.7;
    float: left;
}

main .petfinder .info .cards .card a {
    text-decoration: none;
    color: rgb(164, 160, 160);
    padding: 2px 10px;

}

main .petfinder .info .cards .card p {
    color: rgb(86, 16, 152);
    font-weight: 800;
    font-style: bold;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 2px 10px;
    margin-left: 0in;
    float: inline-start;
}

main .petfinder .aside {
    display: flex;
    flex-direction: column;
    gap: 250px;
}

main .petfinder .aside .part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .petfinder .aside .part-1 div {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
}

main .petfinder .aside .part-1 h2 {
    color: rgb(86, 16, 152);
    font-weight: 500;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 40px;
}

main .petfinder .aside .part-1 p {
    color: gray;
    font-weight: 600;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 20px;
}

main .petfinder .aside .part-1 button {
    padding: 10px;
    font-style: bold;
    border-radius: 20px;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(86, 16, 152);
    color: white;
    border: none;
}

main .petfinder .aside .part-1 button:hover {
    background-color: black;
}

main .petfinder .aside .part-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

main .petfinder .aside .part-2 p {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 25px;
    color: rgb(39, 37, 37);
}

main .petfinder .aside .part-2 input {
    padding: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
}

main .petfinder .aside .part-2 input:hover {
    border: 2px solid rgb(86, 16, 152);
    border-radius: 10px;
}

main .petfinder .aside .part-2 button {
    padding: 10px;
    font-style: bold;
    border-radius: 20px;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(86, 16, 152);
    color: white;
    border: none;
}

main .petfinder .aside .part-2 button:hover {
    background-color: black;
}

@media (max-width: 1024px) {
    main .petfinder {
        display: flex;
        margin: 50px 1px;
        flex-direction: column;
    }

    main .petfinder .info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 767px) {
    main .petfinder .info .cards {
        margin-top: 50px;
        /* gap: 20px; */
        display: flex;
        flex-direction: column;
        /* max-width: 100%; */
        /* height: auto; */
    }

    main .petfinder .info .cards .card {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        gap: 10px;
        border-radius: 10px;
        margin-top: 20px;
        height: 40%;
        font-family: Nexa Regular, arial, helvetica, sans-serif;
    }

    main .petfinder .info .cards .card img {
        width: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 60%;
    }

    main .petfinder .info .cards .card div {
        display: flex;
        flex-direction: column;
        margin: 20px;
        font-family: Nexa Regular, arial, helvetica, sans-serif;
    }

    main .petfinder .info .cards .card p {
        color: rgb(86, 16, 152);
        font-weight: 600;
        font-style: bold;
        font-family: Nexa Regular, arial, helvetica, sans-serif;
        font-size: 15px;
        line-height: 30px;
        padding: 2px 10px;
    }

    main .petfinder .info .cards .card div p {
        color: rgb(86, 16, 152);
        font-weight: 600;
        font-style: bold;
        font-family: Nexa Regular, arial, helvetica, sans-serif;
        font-size: 15px;
        line-height: 30px;
        padding: 2px 10px;
    }
}

@media (max-width:500px) {
    main .petfinder .aside .part-1 div {
        width: 100%;
    }

}

.view-all {
    color: rgb(86, 16, 152);
    font-weight: bold;
    text-decoration: none;
}

.view-all:hover {
    color: rgb(86, 16, 152);
    font-weight: bold;
    text-decoration: underline;
}





/* footer */

footer .link {
    background-color: rgb(86, 16, 152);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    padding: 40px 20px;
    gap: 20px;
}

@media (max-width:992px) {
    footer .link {
        flex-direction: row;
        flex-wrap: wrap;
    }


}

footer .link .signup {
    background-color: white;
    color: rgb(86, 16, 152);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    gap: 20px;
}

footer .link .signup button {
    background-color: rgb(86, 16, 152);
    color: white;
    font-style: bold;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    padding: 10px 35px;
    border: none;
    text-align: center;
    transition: all 0.2s ease;
}

footer .link .signup button:hover {
    background-color: rgb(231, 184, 241);
    color: rgb(57, 11, 100);
}

footer .link ul {
    list-style: none;
}



footer .link ul p {
    color: white;
    font-style: bold;
    font-weight: 800;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 15px;
}

footer .link ul li a {
    text-decoration: none;
    color: white;
    font-style: bold;

}

footer .link ul li a:hover {
    text-decoration: underline;
    color: rgb(157, 111, 200);
}

footer .footer-end {
    background-color: rgb(46, 9, 80);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

footer .footer-end .copy span,
footer .footer-end .copy span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 15px;
}

footer .footer-end .social {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer .footer-end .social span a {
    color: white;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    font-size: 15px;
}